mixin hero(name, lead, image, lazy)
	-
		const className = lazy ? "lozad" : null,
			dataBackgroundImage = lazy ? requireLocalImage(image) : null,
			style = lazy
				? null
				: `background-image: url(${requireLocalImage(image)})`;

	header.hero.is-medium.has-background-image(class=className style=style data-background-image=dataBackgroundImage)
		if name || lead
			+hero-body(name, lead)
				block
		else
			block
	
	if lazy
		noscript
			header.hero.is-medium.has-background-image(style=`background-image: url(${requireLocalImage(image)})`)
				if name || lead
					+hero-body(name, lead)
						block
				else
					block

mixin hero-body(name, lead)
	.hero-body
		.container.has-text-right
			h1.title.is-2.is-size-1-desktop.has-text-white= name
			if lead
				h2.subtitle.is-4.is-size-3-desktop.has-text-light= lead

			block