extends ../../partials/base.pug

mixin pillar(icon, name, description)
	.media
		.media-left.is-further-spaced
			+bulma-icon(class="is-extra-large is-rounded has-background-primary has-text-white")
				+fa-icon(icon, 2)
		p.media-content
			strong.is-size-5.has-text-weight-semibold= name
			br
			= description

block head
	+title("Home")

block noscript-head
	style.
		.siema > li:not(:first-child) {
			display: none;
		}

block body
	+hero(image, name, lead)
		.buttons.is-pulled-right
			+link("https://goo.gl/maps/1trdfAtqE4A2", true)(class="button is-primary is-inverted is-outlined")
				+icon("map-marker-alt")
				span Get Directions

			+link(`tel:+1${phoneNumber}`, false)(class="button is-primary is-inverted is-outlined")
				+icon("phone")
				span= phoneNumber
	
	.container
		+section("about")
			.level.columns.is-variable.is-8
				.column.is-hidden-mobile.is-siema
					ul.siema
						each image in gallery
							li
								if image.link.startsWith("http")
									figure.image.is-3by2
										img(src=image.link alt=image.caption || image.link)
								else
									figure.image.is-3by2
										img(src=requireLocalImage(image.link) alt=image.caption || image.link)
				.column.is-half
					each pillar in pillars
						+pillar(pillar.icon, pillar.name, pillar.description)

		+section("schoolEvents", "School Events", "News flash")
			.columns.is-variable.is-8
				.column
					+iframe("https://calendar.google.com/calendar/embed?src=oaomn16s4itdvibnciuc45386k%40group.calendar.google.com&ctz=America/New_York")
				
				.content.column.is-one-third
					h4.is-size-5 Announcements
					each announcement, index in announcements
						.message.is-small
							p.message-body
								+linkify(announcement)