extends ../../partials/base.pug

mixin pillar(icon, name, description)
	.media
		.media-left.is-further-spaced
			span.icon.is-extra-large.is-rounded.has-background-primary.has-text-white(style="border-radius: 100%;")
				i.fas(class=`fa-${icon} fa-2x`)
		p.media-content
			strong.is-size-5.has-text-weight-semibold= name
			br
			= description

block head
	+title("Home")

block body
	+banner(image)
		+banner-body(name, lead)
			.buttons.is-pulled-right
				.level-right
					+link("https://goo.gl/maps/1trdfAtqE4A2", true, "button is-primary is-inverted is-outlined")
						span.icon
							i.fas.fa-map-marker-alt
						span Get Directions

					+link(`tel:+1${phoneNumber}`, false, "button is-primary is-inverted is-outlined")
						span.icon
							i.fas.fa-phone
						span= phoneNumber
	
	.container
		+section(null, null, "about")
			.level.columns.is-variable.is-7
				.column.is-hidden-mobile.is-siema
					ul.siema
						each image in gallery
							li
								if image.link.startsWith("http")
									figure.image.is-3by2
										img(src=image.link alt=image.caption || image.link)
								else
									figure.image.is-3by2
										img(src=`${require(`../../media/${image.link}`)}` alt=image.caption || image.link)
				.column.is-half
					each pillar in pillars
						+pillar(pillar.icon, pillar.name, pillar.description)

		+section("School Events", "News flash", "schoolEvents")
			.columns.is-variable.is-7
				.column.is-one-third
					.message.is-small
						b.message-header Announcements
						ul.message-body
							each announcement, index in announcements
								li= announcement
								if index !== announcements.length - 1
									br
				.column
					+iframe("https://calendar.google.com/calendar/embed?src=oaomn16s4itdvibnciuc45386k%40group.calendar.google.com&ctz=America/New_York")