- const isEmptyObject = (object) => Object.values(object).every(x => !x);

mixin link(link, tab, classes)
	a(class=classes href=link target=tab ? "_blank" : tab rel="noopener noreferrer")
		block

mixin title(title)
	title= `${title} | UHSSE`

mixin banner(image)
	header.hero.is-medium.has-background-image(style=`background-image: url(${require(`../../media/${image}`)});`)
		block

mixin banner-head()
	.hero-head
		block

mixin banner-body(name, lead)
		.hero-body
			.container.has-text-right
				h1.title.is-2.is-size-1-desktop.has-text-white= name
				if lead
					h2.subtitle.is-4.is-size-3-desktop.has-text-light= lead

				block

mixin body(name, lead, image)
	+banner(image)
		+banner-body(name, lead)

	.container
		block

mixin section(name, lead, anchorId)
	section.section(id=anchorId)
		if name
			h1.title.is-4.is-size-3-desktop= name
		if lead
			h1.subtitle.is-6.is-size-5-desktop= lead
		
		block

mixin iframe(source)
	iframe(src=source width="100%" height=650)