nav#navbar.navbar(role="navigation" aria-label="main navigation")
	.navbar-brand
		a.navbar-item(href="/")
			h1.title.is-4= navbar.brand

		a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="navbarMenu")
			span(aria-hidden="true")
			span(aria-hidden="true")
			span(aria-hidden="true")
	
	#navbarMenu.navbar-menu
		.navbar-start
			each icon in navbar.icons
				+link(icon.link, true)(class="navbar-item")
					figure.image.is-16x16
						+img(requireLocalImage(icon.image), "Icon", true)

		.navbar-end
			each link in navbar.links
				if link.items instanceof Array
					.navbar-item.has-dropdown.is-hoverable
						a.navbar-link(href=link.slug)= link.name
						
						.navbar-dropdown
							each item in link.items
								+link(`${link.slug}#${item.anchorId}`, false)(class="navbar-item")= item.name
				else
					a.navbar-item(href=link.slug)= link.name
			
			.navbar-item.buttons
				a.button.is-primary(href=navbar.button.link)
						b= navbar.button.text