nav#navbar.navbar(role="navigation" aria-label="main navigation")
	.navbar-brand
		a.navbar-item(href="/")
			h1.title.is-4= navbar.brand

		a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="navbar")
			span(aria-hidden="true")
			span(aria-hidden="true")
			span(aria-hidden="true")
	
	#navbarMenu.navbar-menu
		.navbar-end
			each link in navbar.links
				if link.subLinks instanceof Array
					.navbar-item.has-dropdown.is-hoverable
						a.navbar-link(href=link.path)= link.name
						
						.navbar-dropdown
							each subLink in link.subLinks
								a.navbar-item(href=link.path + "#" + subLink.nav)= subLink.name
				else
					a.navbar-item(href=link.path)= link.name
			
			.buttons
				a.button.is-primary(href=navbar.button.link)
					b= navbar.button.text