extends ../../partials/base.pug

block head
	+title("Information")

block noscript-head
	style.
		.lozad {
			display: none;
		}

block body
	+body(name, lead, image)
		+section(contacts.anchorId, contacts.name, contacts.lead)
			.tabs-wrapper
				.tabs
					ul
						li.is-active #[a UHSSE Staff]
						li #[a Support Services]
				
				.tabs-content
					ul
						li.is-active
							+table(["Name", "Position", "Email", "Website"])
								each contact in contacts.staff
									tr
										td= contact.name
										td= contact.position
										td
											a(href=`mailto:${contact.email}`)= contact.email
										td
											if contact.website
												+link(contact.website, true)= contact.website.replace(/(^\w+:|^)\/\//, "")
						li
							+table(["Name", "Service", "Email", "Phone"])
								each service in contacts.supportServices
									tr
										td= service.name
										td= service.position
										td
											+link(`mailto:${service.email}`, false)= service.email
										td
											+link(`tel:${service.phone}`, false)= service.phone			

		+section(parentOrganizations.anchorId, parentOrganizations.name, parentOrganizations.lead)
			.tabs-wrapper
				.tabs
					ul
						li.is-active #[a PTO]
						li #[a After Grad Party]
						li #[a SGC]
				
				.tabs-content
					ul
						li.is-active
							.columns
								- const pto = parentOrganizations.pto;
								+column-card("Officers")
									.field.is-grouped.is-grouped-multiline
										each officer in pto.officers
											.control
												.tags.has-addons
													if officer.email
														+link(`mailto:${officer.email}`, false)(class="tag is-link")
															+icon("user")
															span= officer.name
													else
														span.tag.is-info
															+icon("user")
															span= officer.name
													span.tag= officer.position
								
								+column-card("Meeting Dates")
									p.content= pto.meetingDates.description
									b.has-text-weight-semibold Schedule
									ul
										each date in pto.meetingDates.dates
											li= date
								
								+column-card("Meeting Minutes")
									ul
										each minute in pto.meetingMinutes
											li
												+link(minute.link, true)= minute.date

								+column-card("Fundraisers")
									ul
										each fundraiser in pto.fundraisers
											li
												+link(fundraiser.link, true)= fundraiser.name
						
						li
							.columns
								- const afterGrad = parentOrganizations.afterGrad;
								+column-card("Meeting Dates")
									p.content= afterGrad.meetingDates.description
									b.has-text-weight-semibold Schedule
									ul
										each date in afterGrad.meetingDates.dates
											li= date
								
								+column-card("Donation Forms")
									ul
										each form in afterGrad.donationForms
											li
												+link(form.link, true)= form.name
								
								+column-card("How Can You Help?")
									ul
										each aid in afterGrad.aids
											li
												+link(aid.link, true)= aid.name
								
								+column-card("Updates")
									ul
										each update in afterGrad.updates
											li
												+link(update.link, true)= update.name
								
								if !isEmptyObjectArray(afterGrad.officers)
									+column-card("Officers")
										.field.is-grouped.is-grouped-multiline
											each officer in afterGrad.officers
													.control
														.tags.has-addons
															if officer.email
																+link(`mailto:${officer.email}`, false)(class="tag is-link")
																	+icon("user")
																	span= officer.name
															else
																span.tag.is-info
																	+icon("user")
																	span= officer.name
															span.tag= officer.position

								if !isEmptyObjectArray(afterGrad.meetingMinutes)
									+column-card("Meeting Minutes")
										ul
											each minute in afterGrad.meetingMinutes
												li
													+link(minute.link, true)= minute.date
						
						li
							.columns
								- const sgc = parentOrganizations.sgc;
								+column-card("Meeting Dates")
									p.content= sgc.meetingDates.description
									b.has-text-weight-semibold Schedule
									ul
										each date in sgc.meetingDates.dates
											li= date
								
								+column-card("Meeting Minutes")
									ul
										each minute in sgc.meetingMinutes
											li
												+link(minute.link, true)= minute.date

								+column-card("Members")
									.field.is-grouped.is-grouped-multiline
										each member in sgc.members
											.control
												.tags.has-addons
													if member.email
														+link(`mailto:${member.email}`, false)(class="tag is-link")
															+icon("user")
															span= member.name
													else
														span.tag.is-info
															+icon("user")
															span= member.name
													span.tag= member.position

		+section(resources.anchorId, resources.name, resources.lead)
			.columns.is-reverse-mobile
				.content.column
					h4.is-size-5 Lunch Menu
					if resources.lunchMenuLink
						+iframe(`https://docs.google.com/gview?url=${resources.lunchMenuLink}&embedded=true`, true)
					else
						+message("There is no lunch menu currently available. Check back later!", "Missing Lunch Menu")(class="is-warning")
				.content.column.is-one-quarter
					h4.is-size-5 Links
					+links(resources.resources, "resources")